body{
    background:#FFFFF !important;
    font-family: 'Poppins', sans-serif;
}

a {
  color: #2c87f0;
}


.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index:999;
  top: 0;
  left: -250px;
  background-color: #07afc0;
  overflow-x: hidden;
  transition:all .3s ease-in-out;
  padding-top:100px !important;
}

.sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  padding:10px 10px 10px 30px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height:40px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  height: 40px;
  padding: 10px;
  background: #07afc0;
  color: #fff;
  font-size: 17px;
  border: 1px solid #07afc0;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}





.header {
  background-color: #fff;
  padding: 30px;
  text-align: right;
  font-size: 40px;
  color: 222447;;
  font-family: 'Poppins', sans-serif;font-weight:700;
  display: flex;
   justify-content: space-between;
   box-sizing:border-box;
   padding:10px 50px;
   border-bottom: 1px solid #eaeaea;
   box-shadow:0px 5px 21px #e8e8e8;
   align-items:center;

}

.header-left {
 display:flex;
 justify-content:space-between;
 flex-basis: 45%;

}

.header-right {
 display:flex;
 justify-content:flex-end;
 flex-basis: 45%;

}


.wrapper-top{
    display:flex;
    justify-content:space-between;
    padding:50px 80px;
    padding-left: 240px;
    padding-right: 240px;

}

.wrapper-top-ps{
    display:flex;
    justify-content:space-between;
    padding:50px 80px;
    padding-left: 240px;
    padding-right: 240px;

}

.upperLeft {
    background-color: #fff;
    flex-basis: 30%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cac6c6;
    padding: 50px;
}

.upperLeft-ps {
    background-color: #fff;
    flex-basis: 30%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cac6c6;
    padding: 50px;
}


.upperMid {
    background-color: #fff;
    flex-basis: 30%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cac6c6;
    padding: 50px;
}

.upperRight {

  background-color: #fff;
  flex-basis:30%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #cac6c6;
    padding: 50px;
}




.wrapper-mid{
    display:flex;
    justify-content:space-between;
    padding:50px 80px;
    padding-left: 240px;
    padding-right: 240px;

}
.chartLeft {
    background-color: #fff;
    flex-basis: 55%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cac6c6;
    padding: 50px;
}

.chartRight {

  background-color: #fff;
  flex-basis:40%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #cac6c6;
    padding: 50px;
}

.wrapper-bottom{
    display:flex;
    justify-content:space-between;
    padding:50px 80px;
     padding-left: 400px;
}

.bottom {

    flex-basis: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cac6c6;
    padding: 50px;
    padding-left: 70px;
    padding-right: 70px;
     background:#fff;

}


#nationChart {
    width: 100%;
    height: 600px;
    }

#chartdiv {
  width: 90%;
  height: 500px;
}

#radarChart{
  width: 100%;
  height: 600px;
}

#chartdiv_wheel{
    width: 100%;
    height: 100% !important;
}

.video-single-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:50px 100px;
}

.video-play{
    flex-basis:100%;
}
.video-box{
    width: 100%;
}
.video-play .video-caption{
    margin-top:20px;
}
.video-play .video-caption h2{
    font-size:22px;
}
.video-box video{
    width:100%;

}

.list-wrapper{
    padding:0px 100px 100px;
}
.video-list{
    display:flex;
    flex-direction:row;

}


.dropbtn {
  background-color: #07afc0;
  color: white;
  padding: 6px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0b7dda;
}




.header-right a{
    color:#07afc0;
}
.header-right a:hover{
    text-decoration:none;
    color:#0b7dda;
}
.video-list .list{
    width:25%;
    margin:20px 10px;
}
.video-list .video-caption{
    margin-top:0px;
    border-bottom:1px solid #ddd;
    padding-bottom:0px;
    margin-bottom:15px;
}
.video-list .list video{
    width:100%;
    margin:10px 0;
}
.video-wrapper{
    display: flex;
    padding:50px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.video-block{
    flex-basis: 30%;
    margin: 5px 16px;
}
.video-block .video{
    width: 100%;
    height: 245px;
    position:relative;
    cursor:pointer
}
.video-block .video video{
    width:100%;
    height:100%;

}
.video-block .video .overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:transparent;
    transition:all .3s linear;
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-block .video:hover .overlay{
    opacity:1;
}
.video-block .video:hover .overlay img{
    width:50px;
}
.video-caption{
    margin-top:20px;
    text-align:left
}
.video-caption h2{
    font-size:16px;
    font-weight:600;
    color:#000;
}
.video-caption p{
    font-size: 13px;
    font-weight: normal;
    color: #000;
    opacity: 0.7;
    margin-top: -2px;

}

.main-body{
    position:relative;
    left:0;
    transition:all .3s ease-in-out;

}