{% extends 'base.html' %}
{% load static %}

{% block Main_Body %}
    <div class="video-single-wrapper">
        <div class="video-play">
            <div class="video-box">
                {% if video %}
                    <video width='600' controls>
                        <source src='{{ video.videofile.url }}' type='video/mp4'>
                        Your browser does not support the video tag.
                    </video>
                {% else %}
                    <p>No Video is available.</p>
                {% endif %}
            </div>
            <div class="video-caption-index">
                <h2 style="margin-top: 40px;">{{ video.name }}</h2>
                <p><i>Description: {{ video.description }}</i></p>
                <p style=" ">{{ video.upload_date }}<p style = "float: right;"><img src="https://static.thenounproject.com/png/304008-200.png" alt="" width="20px" height="20px"> {{video.view_count}}</p>

            </div>
        </div>
    </div>

    <div class="list-wrapper">
        <h2 style = "font-family: 'Poppins', sans-serif;font-weight:700;font-size:25px">Watch More</h2>
        <div class="video-list">
            {% if video_list %}
                {% for video in video_list %}
                    <div class="list">

                        <a href = "/videos/{{video.id}}/">

                            <div class="single-video">
                                <div class="overlay" >
                                    <img src="/videos/images/play-vid.png" alt="" width="50px" height="50px">
                                </div>
                                <video width='100%' >
                                    <source src='{{ video.videofile.url }}' type='video/mp4'>
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div class="video-caption-index">
                                <h2 style="margin-top: 30px;">{{ video.name }}</h2>
                            <p style=" ">{{ video.upload_date }}<p style = "float: right;"><img src="https://static.thenounproject.com/png/304008-200.png" alt="" width="20px" height="20px"> {{video.view_count}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}



