{% extends 'base.html' %}
{% load static %}

{% block Main_Body %}
    <div class="video-single-wrapper">
        <div class="video-play">
            <div class="video-box">
                {% if video %}
                    <video width='600' controls>
                        <source src='{{ video.videofile.url }}' type='video/mp4'>
                        Your browser does not support the video tag.
                    </video>
                {% else %}
                    <p>No Video is available.</p>
                {% endif %}
            </div>
            <div class="video-caption">
                <h2>{{ video.name }}</h2>
                <p><i>Description: {{ video.description }}</i></p>
                <p>{{ video.upload_date }}</p>

            </div>
        </div>
    </div>

    <div class="list-wrapper">
        <h2 style = "font-family: 'Poppins', sans-serif;font-weight:700;font-size:25px">Watch More</h2>
        <div class="video-list">
            {% if video_list %}
                {% for video in video_list %}
                    <div class="list">
                        <a href = "/videos/{{video.id}}/">
                            <video width='600' controls>
                                <source src='{{ video.videofile.url }}' type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                            <div class="video-caption">
                                <h2>{{ video.name }}</h2>
                                <p>{{ video.upload_date }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}



