{% extends 'base.html' %}
{% load static %}

{% block Main_Body %}
    <div class="video-wrapper">
        {% if video_list %}
            {% for video in video_list %}
                <div class="video-block">
                    <a href="/videos/{{ video.id }}/">
                        <div class="video">
                            <div class="overlay">
                                <img src="/static/videos/images/play-button.png" alt="" width="50px">
                            </div>
                            <video width='100%' >
                                <source src='{{ video.videofile.url }}' type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        </div>

                    </a>
                    <div class="caption">
                        <h2>{{ video.name }}</h2>
                        <p>Date of upload</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No images are available.</p>
        {% endif %}
    </div>
{% endblock %}